@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poor+Story&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-image: url("https://i.postimg.cc/Y0dc64RW/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
  

.navbar{
    background-color: #fff;
}

.navbar .navbar-nav li{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
}

.navbar .navbar-nav li a{
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

/*navbar hover */
.navbar .navbar-nav li a:hover{
    transform: scale(1.2);
}

.team-heading{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.team-heading .colorG{
    background-color: #34a853;
}

.team-heading .colorY{
    background-color: #fbbc04;
}

.team-heading h3{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 4px;
}

/* cards */
.card-grid{
    display: flex; 
    justify-content: center; 
    text-align:center; 
    /* position:relative; */
    margin-top: 1.5rem;
}

.card-green .profile_pic{
    border: #34a853 solid 4px;
    border-radius: 50%;
}

.card-green{
    width: 15rem;
    background-color: #cbf3cc;
    text-align: center;
    border-radius: 10px;
    border: #cbf3cc solid 3px;
    transition-property: transform,border;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2rem;
}

.card-green:hover{
    transform: scale(1.04);
    border: #34a853 solid 3px;
}

.card-blue .profile_pic{
    border: #4285f4 solid 4px;
    border-radius: 50%;
}

.card-blue{
    width: 15rem;
    background-color: #c9e8ff;
    text-align: center;
    border-radius: 10px;
    border: #c9e8ff solid 3px;
    transition-property: transform,border;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2rem;
}

.card-blue:hover{
    transform: scale(1.04);
    border: #4285f4 solid 3px;
}

.card-red .profile_pic{
    border: #ea4335 solid 4px;
    border-radius: 50%;
}

.card-red{
    width: 15rem;
    background-color: #ffcdd2;
    text-align: center;
    border-radius: 10px;
    border: #ffcdd2 solid 3px;
    transition-property: transform,border;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin-bottom: 2rem;
}

.card-red:hover{
    transform: scale(1.04);
    border: #ea4335 solid 3px;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social a{
    font-size: 20px;
    color: #363636;
}

.social a:hover{
    color: #2156dd;
}

/*footer*/

ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 2.2rem 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer ul li a{
	font-size: 1rem;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    /* padding-left: 2rem; */
}
.footer ul li a:hover{
	color: #ffffff;
	/* padding-left: 8px; */
}
.footer .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer button{
    padding: 0.2rem 2.5rem;
    border-radius: 10px;
    background-color: #5865F2;
    color: white;
    border: none;
    margin-bottom: 3rem;
    cursor: pointer;
} 

.footer a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.3rem;
}

@media (max-aspect-ratio: 16/9){
    .footer .col-md-3{
        text-align: center;
        margin-bottom: 3rem;
    }

    .footer .col-md-5 h5{
        font-size: 14px;
    }
    .footer .col-md-5 h6{
        font-size: 12px;
        margin-bottom: 2rem;
    }
}